footer.footer
    .container.container__footer
        .footer_top
            a(href="index.html").footer__title--link use-web
            p.shrt__text.footer__shrt__text web-разработка это просто
        .footer_bottom
            nav.footer__menu
                ul.footer__menu__list
                    li.menu__item 
                        a(href="index.html" class="footer__menu__link") Главная
                    li.menu__item 
                        a(href="#" class="footer__menu__link") Пройти тест
                    li.menu__item 
                        a(href="topics.html" class="footer__menu__link") Темы блога
                    li.menu__item 
                        a(href="contacts.html" class="footer__menu__link") Контакты
                    li.menu__item
                        a(href="#"  class="footer__menu__link authPopup") Вход
                    li.menu__item
                        a(href="registration.html" target="_blank" class="footer__menu__link") Регистрация
           
        


