.block__list__account  
    ul.account__list
        li.account__item
            a(href="profile.html").account__link Профиль
        li.account__item
            a(href="#").account__link.logout Выход    