nav.menu_mobile
    ul.menu_mobile__list
        li.menu_mobile__item 
            a(href="#" class="menu_mobile__link") Пройти тест
        li.menu_mobile__item 
            a(href="topics.html" class="menu_mobile__link") Темы блога
        li.menu_mobile__item
            a(href="contacts.html" class="menu_mobile__link") Контакты
        li.menu_mobile__item
            a(href="#"  class="menu_mobile__link authPopup") Вход
        li.menu_mobile__item
            a(href="registration.html" target="_blank" class="menu_mobile__link") Регистрация