section.section.section_about
    .block__title
        .block__title-wr.about
            svg.title-svg
                use(xlink:href="assets/sprite/sprite.svg#educational-questions-hand-drawn-speech-bubble")
            .title О чем этот блог?
                            
    .container_about
        
            .about__text.pos1 
                span.about__text-title Чему посвящен
                img.pos-img(src="assets/images/bkg1.png")
                |Данный блог посвящен web-разработке. 
                |На страницах этого сайта Вы найдете полезные статьи про то, как можно разработать сайт с нуля. 
                |Сможете узнать, какими CMS пользоваться, а какими не стоит. Каждая статья полностью раскрывает тему, что в последствии не останется 
                |вопросов по данному разделу.
                            
            .about__text.pos2 
                span.about__text-title Большой выбор
                img.pos-img(src="assets/images/bkg2.png")
                |Поможем выбрать CMS для разработки сайта: у нас можно найти подробную информацию и полезные плагины, 
                |которые помогут в построениии web – сайта.

            .about__text.pos3 
                span.about__text-title Рекомендации
                img.pos-img(src="assets/images/bkg3.png")
                |На сайте есть полезные темы и рекомендации для начинающих программистов - 
                |расскажем, какой язык программирования выбрать, какой будет перспективным и интересным для Вас.
        
            .about__text.pos4 
                img.pos-img(src="assets/images/bkg4.png")
                |А так же сможете 
                a(href="#").about__text__link пройти обучающие тесты 