section.section.section_topics
    .block__title
        .block__title-wr.topics
            svg(width="45" height="45").title-svg
                use(xlink:href="assets/sprite/sprite.svg#books")
            .title Темы
    .container
        ul.topics__list
            - for( var i = 0; i < 7; i++) {
                li.topics__item 
                    a(href="#").topics__link
                        //- svg.topics__title--svg
                        //-     use(xlink:href="assets/sprite/sprite.svg#file")
                        h2.topics__title Технологии, инструменты и сервисы
                        .topics__discr Nam liber tempor cum soluta nobis eleifend 
                                        |option congue nihil imperdiet doming id quod mazim
                                        |Nam liber tempor cum soluta nobis eleifend 
                                        |option congue nihil imperdiet doming id quod mazim
                    
                                        
            -}

                                              